<div *ngIf="topic">
  <button type="button" (click)="goBack()">go back</button>
  <div class="info">
    <h2>{{ topic.title }}</h2>
    <span>{{ topic.score }} points</span>
    <span>by: {{ topic.by }}</span>
    <span>time: {{ topic.time | dateAgo }}</span>
    <span>|</span>
    <span>{{ topic.descendants }} comments</span>
    <div class="text">
      <p [innerHTML]="topic.text"></p>
    </div>
  </div>
  <div *ngIf="comments && comments.length > 0" class="comment">
    <p>Comment:</p>
    <ul>
      <li *ngFor="let comment of comments" class="comment-item">
        <div>
          <span class="comment-by">{{ comment.by }} </span>
          <span>{{ comment.time | dateAgo }}</span>
        </div>
        <p [innerHTML]="comment.text"></p>
        <div *ngIf="comment.subComment !== null">
          <p>Comment:</p>
          <div class="sub-comment">
            <span class="comment-by">{{ comment.subComment.by }}</span>
            <span>{{ comment.subComment.time | dateAgo }}</span>
            <p [innerHTML]="comment.subComment.text"></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
